body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  background-color: black;
  height: 70px;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: space-between;

}
.nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-right: 40px;
  font-size: 20px;
}
.footer {
  background-color: rgb(5, 0, 0);
  height: 70px;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}
.home{
  height: 800px;
  width: 100%;
  background-color:cornflowerblue;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8rem;
}
.contact{
  height: 800px;
  width: 100%;
  background-color:rgb(90, 91, 66);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
   font-size: 8rem;
}
.about{
  height: 800px;
  width: 100%;
  background-color:rgb(10, 203, 210);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
   font-size: 8rem;
}
